body {
    margin: auto
}

header {
    background-color: skyblue;
    font-weight: bold;
    padding: 15px 15px;
    border-bottom: 2px solid blueviolet;
}

a {
    margin-right: 15px;
    font-weight: bold;
    text-decoration: none;
}