.indicator {
    color: #8a2be2;
}
tbody{
    font-size: 40px
}

#loader {
    display: none
}

pre {
    margin: 20px;
    width: 80%;
    white-space: pre-wrap
}

img {
    background-color: transparent;
    border-color: transparent;
    height: 30px
}

input {
    text-align: center
}

.buy-suggestion {
    text-align: center
}

table {
    border-collapse: collapse;
    margin:0 auto
}

table,
th,
td {
    border: 1px solid black;
}

tr:hover {
    background-color: #f5f5f5;
}