<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <form>
        <div class="input">
            <input type="number" id="one" placeholder="lowest price" autofocus>
            <input type="number" id="two" placeholder="highest price">
        </div>
        <div class="button">
            <input type="button" onclick="average()" value="calculate median">
        </div>
        <div class="result">
            <input type="number" id="avg" placeholder="result">
        </div>
        <input type="reset" class="button" value="reset">
    </form>

    <script>
        function average() {
            var a = parseInt(document.getElementById("one").value);
            var b = parseInt(document.getElementById("two").value);
            var afinal = ((a + b) / 2);
            document.getElementById('avg').value = afinal;
        }

        function clear() {
            document.getElementById('one').value = null;
            document.getElementById('two').value = null;
            document.getElementById('avg').value = null;
        }
    </script>
</body>

</html>