<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <form>
        <div class="input">
            <input type="number" id="lowest" placeholder="lowest price" autofocus>
            <input type="number" id="highest" placeholder="highest price">
        </div>
        <div class="button">
            <input type="button" onclick="average()" value="calculate median">
        </div>
        <div class="result">
            <input type="number" id="median" placeholder="result">
        </div>
        <input type="reset" class="button" value="reset">
    </form>

    <script>
        function average() {
            var lowest = parseInt(document.getElementById("lowest").value);
            var highest = parseInt(document.getElementById("highest").value);
            var median = ((lowest + highest) / 2);
            document.getElementById('median').value = median;
        }

        function clear() {
            document.getElementById('lowest').value = null;
            document.getElementById('highest').value = null;
            document.getElementById('median').value = null;
        }
    </script>
</body>

</html>